{% extends 'layout.html' %}

{%block head%}
HOME | FlaskBLOG
{%endblock%}

{% block content %}
    <h1>Hello Dunia</h1>
    <p>Aku sudah berhasi inisialisasi FLASK dengan Development Environtment</p>
    <p>Yang membuat halaman ini Adalah = {{ name | capitalize }}</p>

    <!-- Jinja Filter, untuk menjalankan Tags -->
    <p>{{ stuff | safe}}</p>

    <!-- Jinja Filter , untuk mengabaikan semua tags -->
    <p>{{ stuff | striptags}}</p>

    <!-- Default Jinja, Tidak akan menjalankan tags lain -->
    <p>{{ stuff }}</p>

    <!-- Show List in Jinja -->
    <p>{{ favCar }}</p>

    <!-- For loop in Jinja Statements -->
    {% for car in favCar %}
       <p>{{ car }}</p>
       {% if car==3000 %}
       <p>{{ car +300}}</p>
       {% endif %}
    {% endfor %}


{% endblock %}